$button-primary-color: #4400ff;
$button-primary-text-color: #FFFFFF;
$button-seconday-color: #787878;
$button-seconday-text-color: #FEFEFE;

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 82px);
    padding: 0px 30px;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

hr{
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        padding: 1em 0;
    }

    .buttons {
        display: flex;    
        a {
            text-align: center;
            
            margin: 0 10px 5px;
            padding: 0.5em 15px;
            min-width: 100px;
            border-radius: 5px;
            font-weight: 600;
            
            text-decoration: none;
            background-color: $button-primary-color;
            border: #4400ff 3px solid;
            color: $button-primary-text-color;
            
            cursor: pointer;

            &:hover{
                background-color: $button-primary-text-color;
                color: $button-primary-color;
            }

            &.disabled{

                background-color: $button-seconday-color; 
                color: $button-seconday-text-color;
                border-color: $button-seconday-color;
                pointer-events: none;

                :hover{
                    background-color: $button-seconday-color; 
                }
            }
        }
    }
}

#product_form {
    max-width: 500px;
    padding: 25px 2em;

    input,
    select {
            min-width: 200px;
            min-height: 2em;
            padding: 2px 5px;

            border: rgb(199, 199, 199) 1px solid;
            border-radius: 8px;
            box-shadow: 0 0 5px #b6b6b6;
    }
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.validation-error {
    box-shadow: 0 0 8px #ff004082 !important;    
}

.ProductList {
    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-eve;
        flex-wrap: wrap;
        padding: 2em auto;
        margin: 2em auto;
    }
}

.product_item_display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 250px;
    width: 100%;
    min-height: 180px;
    margin: 10px;

    border: #d5d5d5 1px solid;
    border-radius: 10px;
    box-shadow: 2px 7px 5px #0000001c;

    .delete-checkbox {
        position: absolute;
        
        top: 10px;
        left: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

footer {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 439px) {  
/* Product List Page */
    .ProductList .gallery {
        padding: 2em 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        flex-direction: column;
    }

    .product_item_display {
        min-width: 90%;
        margin: 20px 0 ;
    }

    .header .buttons {
        display: flex;
        flex-direction: column;

        a {
        text-align: center;
        margin: 5px;
        }
    }

    /* Product List Page END*/

    /* Product ADD Page */

    #product_form .form-control{
        flex-direction: column;
    }

/* Product ADD Page */
}

@media (min-width: 440px) and (max-width: 767px) {
    .product_item_display {
        
        flex-basis: calc(50% - 20px); 
    }

    .gallery{
        max-width: 540px;
        flex-direction: column;
    }
}

@media (max-width: 599px){
    .header .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .product_item_display {
      flex-basis: calc(33% - 20px);
    }

    .gallery{
        max-width: 810px;
    }
  }
  
  @media (min-width: 960px){
    .product_item_display {
      flex-basis: calc(25% - 20px);
    }

    .gallery{
        max-width: 1080px;
    }
  }
