.App *{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .buttons a {
  margin: 0 10px;
  padding: 0.5em 20px;
  min-width: 100px;
  border-radius: 5px;
  font-weight: 600;

  text-decoration: none;
  background-color: #4400ff;
  color: white;
}

#product_form {
  max-width: 500px;
  padding: 25px 2em;
}

.form-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#product_form input, #product_form select{
  min-width: 200px;
  min-height: 2em;
  padding: 2px 5px;

  border: rgb(199, 199, 199) 1px solid;
  border-radius: 8px;
  box-shadow: 0 0 5px #b6b6b6;
}

.validation-error {
  box-shadow: 0 0 10px #ff0040 !important;
}

footer{
  display: flex;
  justify-content: center;
}